<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ink.rayin.app.web.dao.UserInfoMapper" >
    <resultMap id="BaseResultMap" type="ink.rayin.app.web.model.UserInfoModel" >
        <id column="user_id" property="userId" jdbcType="VARCHAR" />
        <id column="real_name" property="realName" jdbcType="VARCHAR" />
        <id column="sex" property="sex" jdbcType="INTEGER" />
        <id column="birthday" property="birthday" jdbcType="VARCHAR" />
        <id column="mail" property="mail" jdbcType="VARCHAR" />
        <id column="weChat" property="weChat" jdbcType="VARCHAR" />
        <id column="profession" property="profession" jdbcType="VARCHAR" />
        <id column="address" property="address" jdbcType="VARCHAR" />
        <id column="company" property="company" jdbcType="VARCHAR" />
        <id column="job" property="job" jdbcType="VARCHAR" />
        <id column="phone" property="phone" jdbcType="VARCHAR" />
        <id column="head_img" property="headImg" jdbcType="VARCHAR" />
        <id column="nick_name" property="nickName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="sql_allColumn">
        user_id,
        real_name,
        sex,
        birthday,
        mail,
        weChat,
        profession,
        address,
        company,
        job,
        phone,
        head_img,
        nick_name
    </sql>
    <select id="getUserByInfoById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="sql_allColumn"/>
        from USER_INFO  where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <insert id="insert" parameterType="ink.rayin.app.web.model.UserInfoModel">
        insert into USER_INFO (
            user_id,
            real_name,
            sex,
            birthday,
            mail,
            weChat,
            profession,
            address,
            company,
            job,
            phone,
            head_img,
            nick_name
        ) VALUES (
            #{userId,jdbcType=VARCHAR},
            #{realName,jdbcType=VARCHAR},
            #{sex,jdbcType=INTEGER},
            #{birthday,jdbcType=VARCHAR},
            #{mail,jdbcType=VARCHAR},
            #{weChat,jdbcType=VARCHAR},
            #{profession,jdbcType=VARCHAR},
            #{address,jdbcType=VARCHAR},
            #{company,jdbcType=VARCHAR},
            #{job,jdbcType=VARCHAR},
            #{phone,jdbcType=VARCHAR},
            #{headImg,jdbcType=VARCHAR},
            #{nickName,jdbcType=VARCHAR}
        )
    </insert>
    <update id="update" parameterType="ink.rayin.app.web.model.UserInfoModel">
        UPDATE USER_INFO
        <trim prefix="set" suffixOverrides=",">
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="mail != null">
                mail = #{mail,jdbcType=VARCHAR},
            </if>
            <if test="weChat != null">
                weChat = #{weChat,jdbcType=VARCHAR},
            </if>
            <if test="profession != null">
                profession = #{profession,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="company != null">
                company = #{company,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                job = #{job,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="headImg != null">
                head_img = #{headImg,jdbcType=VARCHAR},
            </if>
            <if test="nickName != null">
                nick_name = #{nickName,jdbcType=VARCHAR},
            </if>
        </trim>
        where user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>