<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ink.rayin.app.web.dao.OrganizationMapper" >
    <resultMap id="BaseResultMap" type="ink.rayin.app.web.model.OrganizationModel" >
        <id column="organization_id" property="organizationId" jdbcType="VARCHAR" />
        <id column="org_number" property="orgNumber" jdbcType="INTEGER" />
        <id column="organization_name" property="organizationName" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="sql_allColumn">
        id,
        organization_id,
        organization_name
    </sql>
<!--    <insert id="insert" parameterType="ink.rayin.app.web.model.OrganizationModel">-->
<!--        insert into organization (-->
<!--            organization_id,-->
<!--            org_number,-->
<!--            organization_name-->
<!--        ) VALUES (-->
<!--            #{organizationId,jdbcType=VARCHAR},-->
<!--            #{orgNumber,jdbcType=INTEGER},-->
<!--            #{organizationName,jdbcType=VARCHAR}-->
<!--        )-->
<!--    </insert>-->
    <select id="selectOrganizationsByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        O.organization_id,
        O.organization_name
        from USER_ORGANIZATION U
        LEFT JOIN ORGANIZATION O
        ON U.organization_id = O.organization_id
        where U.user_id = #{user_id,jdbcType=VARCHAR}
    </select>

<!--    <insert id="insertUserOrganization">-->
<!--        insert into user_organization (-->
<!--        user_id,-->
<!--        organization_id-->
<!--        ) VALUES (-->
<!--        #{userId,jdbcType=VARCHAR},-->
<!--        #{organizationId,jdbcType=VARCHAR}-->
<!--        )-->
<!--    </insert>-->
</mapper>